head
	title Select
	script
		include jquery-3.2.1.min.js
	script
		include js_file.js
	script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js")
body
	h1 Загрузить учебный план 
	form(id="fup" enctype="multipart/form-data" method="post"  action="/load/a")
		p Выберите направление подготовки
		p
			select(name='dir')
				- var c = dirs
				each item in c
					option=item.code+" "+item.direction
			input(type="file" accept="*/xml" name='file')
		p 
			input(type='submit' value="Ok" id='sub')