head
	title Личный кабинет
	script
		include jquery-3.2.1.min.js
body
	h1 Страница админа 
	ul
		li
			a(href="/admin") Домой
		li
			a(href="/admin/users") Пользователи
		li
			a(href="/dirs") Направления
		li
			a(href="/groups") Группы
		li
			a(href="/up") Учебный план
		li
			a(href="/marks") Оценки
		li
			a(href="/calendar") Календарь
		li
			a(href="/messages") Сообщения
	ul
		li(id="stud") Студенты
		li(id="prep") Преподаватели
		li(id="admins") Администратор
	div(id="content")
